body {
    background-color: #dedede;
}

header {
    color: black;
    background-color: white;
    padding: 3%;
    box-shadow:rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    border: 1px solid #bebebe;
}

.profilebox .profileimg {
    display: block;
    width: 100%;
    height: auto;
}

.profilebox .photocontainer {
    position: relative;
    width: 50%;
    max-width: 300px;
}

.projectpanels {
    padding: 40px 20px;

}

.project {
    background-color: white;
    border: 1px solid #bebebe;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.project .projimg {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.project p {
    margin-left: 2%;
    margin-right: 2%;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.projects .container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.project:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.projicon {
    width: 20px;
    height: 20px;
}

.icons {
    width: 50px;
    height: 50px;
    display: flex;
}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

footer {
    color: black;
    background-color: white;
    border-radius: 8px;
    border: 1px solid #bebebe;
}
footer .footercontent {
    margin-left:2%;
    padding: 3%;
}